<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="library"
          class="models.Library" scope="prototype" >
        <constructor-arg value="The most based library"/>
    </bean>

    <bean id="reader"
          class="models.Reader" scope="prototype">
        <constructor-arg value="Пётр I"/>
    </bean>

</beans>